*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Valentino";
    src: url("../fonts/Didot\ Italic.otf");
}
@font-face {
    font-family: "ValentinoT";
    src: url("../fonts/Didot.otf");
}
html, body{
    height: 100%;
    width: 100%;
}
#head{
    text-align: center;
    padding-top: 10px;
    border: none;
    border-bottom:1px solid gray;
    height: 100px;
    background-color: #F3E5AB;
}
#menu{
    position: relative;
    left: 50%;
    margin-left: -143.15px;
    width: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: -20px;
}
#about{
    width: fit-content;
    box-sizing: border-box;
    text-align: center;
    margin-right: 35px;
    border: none;
}
#history{
    width: fit-content;
    box-sizing: border-box;
    margin-left: 35px;
    text-align: center;
    border: none;
}
#vbotique{
    width: fit-content;
    box-sizing: border-box;
    margin-left: 65px;
    text-align: center;
    border: none;
}
a{
    text-decoration: none;
    color: black;
}
#about:hover{
    border-bottom: 3px solid black;
}
#history:hover{
    border-bottom: 3px solid black;
}
#vbotique:hover{
    border-bottom: 3px solid black;
}
.menuTitle{
    font-family: Valentino;
}
#main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(15, auto);
    background-color: whitesmoke;
    row-gap: 30px;
    column-gap: 10px;
}
#BodyLogo{
    width: auto;
    grid-column: 2 / 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
}
#bodytitle{
    grid-column: 1 / 2;
    grid-row: 3;
    display: flex;
    justify-content: center
}
#bodytitle h1{
    font-family: Valentino;
    font-weight: normal;
}
#gold{
    grid-column: 1 / 2;
    grid-row: 4;
    width: auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}
#gold img{
    width: 280px;
    height: 360px;
    border: 1px solid lightgray;
}
#green{
    grid-column: 2 / 3;
    grid-row: 4;
    width: auto;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
#green img{
    width: 280px;
    height: 360px;
    border: 1px solid lightgray;
}
#intense{
    grid-column: 3 / 4;
    grid-row: 4;
    width: auto;
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}
#intense img{
    width: 280px;
    height: 360px;
    border: 1px solid lightgray;
}
