* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "ValentinoT";
    src: url("../fonts/Didot.otf");
}
@font-face {
    font-family: "Vfooter";
    src: url("../fonts/Didot Italic.otf");
}
html, body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
}
#head {
    text-align: center;
    padding-top: 10px;
    border: none;
    border-bottom: 1px solid gray;
    height: 70px;
    background-color: #F3E5AB;
    font-family: ValentinoT;
}
/* Body Layout */
body {
    display: flex;
    flex-direction: column;
}
/* Main Section */
#main {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Grid z dvema stolpcema */
    grid-template-rows: repeat(6, auto); /* ponovi paragrafe in slike */
    row-gap: 100px; /* spacing */
    column-gap: 40px;
    padding: 50px 10%;
    background-color: whitesmoke;
    flex: 1;
}
/* Individual Paragraph Blocks */
#para1, #para2, #para3, #para4 {
    font-family: ValentinoT;
    text-align: justify;
    width: 100%;
}
.paraTitle {
    font-family: ValentinoT;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
/* Vmestitev paragrafov v custom layout */
#para1 {
    grid-column: 1 / 2; /* leva */
    grid-row: 1;
}
#paraImg2 {
    grid-column: 2 / 3; /* desna */
    grid-row: 2;
    display: flex;
    justify-content: center;
}
#para2 {
    grid-column: 1 / 2;
    grid-row: 2;
}
#para3 {
    grid-column: 1 / 2;
    grid-row: 4;
}
#paraImg3 {
    grid-column: 2 / 3;
    grid-row: 5;
    display: flex;
    justify-content: center;
}
#para4 {
    grid-column: 1 / span 2; /* Centrirano */
    grid-row: 6;
    text-align: center;
}
/* Slike */
#paraImg2 img, 
#paraImg3 img {
    max-width: 100%;
    height: auto;
}
/* Footer */
#tail {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    border: none;
    border-top: 1px solid gray;
}
#app{
    width: fit-content;
}
.footerTitle{
    font-family: Vfooter;
}
#appLink{
    text-decoration: none;
    color: black;
}
#appLink:hover{
    border-bottom: 3px solid black;
}
#follow{
    width: fit-content;
    padding: 5px;
}
i{
    border: none;
}
i:hover{
    border-bottom: 2px solid black;
}
#location{
    display: flex;
}
#location h3{
    margin-right: 2px;
}